// color palette - these colors will be the color swatches of the Colors section

$color-1: #271852; // Dark Purple
$color-2: #5B2D7E; // Light Purple
$color-3: #FF11CB; // Violet
$color-4: #99F0FF; // Light Blue
$color-5: #ffffff; // White
$color-6: #EAEAEA; // Light Gray

